.navbar {
    margin-top: 0;
    background: rgba(14, 50, 143, 0.85);
}
.nav-item {
    font-size: medium;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}
