.services {
    background-color: rgba(14, 50, 143, 0.7);
}

.services .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(14, 50, 143, 0.7);
    color: white;
}
.services h6 {
    padding: 50px 0;
}
